{% extends "AdminLayout.html" %}
{% block content %}
<div class="container">
    <div class="wrapper">
        <form method="POST" name="Login_Form" class="form-signin">
            {{ form.hidden_tag() }}
            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
            <hr class="colorgraph"><br>

            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
                </fieldset>
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
<!-- this part will read flashed masseges from flask -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <!-- Do something with the message -->
                {{ messages[0] }}

                {% endif %}
                {% endwith %}
<!-- end of part will read flashed masseges from flask -->

        </form>
        <br>
        <br>
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>

</div>

{% endblock content %}